<!DOCTYPE html>
<html>
  <head>
    <style>
       #map {
        height: 80vh;
        width: 80vw;
        left: 0;
       }
       #dropdown {
        font-size:20px;
        width: 80vh;
        margin: 10px;
       }
    </style>
  </head>
  <body>
    <center>
    <h3>Tweet Map App</h3>
    <select id="dropdown">
      <option value="" disabled selected="selected">Select Search Term</option>
      <option value="obama">Obama</option>
      <option value="trump">Trump</option>
      <option value="clinton">Clinton</option>
      <option value="election">Election</option>
      <option value="happy trump">Happy Trump</option>
      <option value="sad trump">Sad Trump</option>
      <option value="happy clinton">Happy Clinton</option>
      <option value="sad clinton">Sad Clinton</option>
      <option value="great">great</option>
      <option value="moose">Moose</option>
      <option value="haiku">Haiku</option>
    </select>
    <div id="map"></div>
    </center>
    <script>
    // var map;
    //   function initMap() {
    //     var columbia = {lat: 40.8075, lng: -73.9626};
    //     map = new google.maps.Map(document.getElementById('map'), {
    //       zoom: 5,
    //       center: columbia
    //     });
    //     var marker = new google.maps.Marker({
    //       position: columbia,
    //       map: map
    //     });

    //     document.getElementById("dropdown").onchange = function(){
    //       keyword = this.value;
    //       reQuery(keyword);
    //     }

    //   }
    //   function addMarker(tweet){
    //     var pos = {lat: tweets.coordinates[1], lng: tweets.coordinates[1]};
    //     var marker = new google.maps.Marker({
    //       position: pos,
    //       map: map
    //     });
    //   }
    //   function reQuery(param){


    //     console.log(this.responseText);
    //     // var search_str = "haiku";
    //     var oReq = new XMLHttpRequest();
    //     oReq.onreadystatechange = function() {
    //       if (this.readyState == 4 && this.status == 200) {
    //         //deleteMarkers();
    //         var obj = JSON.parse(this.responseText);
    //         var tweets = obj.hits.hits
    //         for(var i = 0; i < tweets.length; i++){
    //             addContent(tweets[i])
    //         }
    //       }
    //     //oReq.addEventListener("load", reqListener);
    //   // var url = "http://localhost:3000/tweets/getTweets?search="+search_str;
    //   // console.log(url);
    //     oReq.open("GET", "/tweets/" + param, true);
    //     oReq.send();
    //   }

    // </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyACGeO9TeMbOLSk1We5O5Yrh5FXnGUQSbs&callback=initMap">
    </script>
  </body>
</html>

<script>
  var markers = [];
  var searchTerm;
  var map;
  var infoWindow;

  var image_positive = {
    url: 'https://developers.google.com/maps/documentation/javascript/examples/full/images/beachflag.png',
  };

  var image_negative = {
    url: 'http://images.clipartbro.com/5/-5813.png',
  };


  var shape = {
    coords: [1, 1, 1, 20, 18, 20, 18, 1],
    type: 'poly'
  };

  // Initialize the map, dropdown
  function initMap() {
    // Columbia U. at center
    var center = {lat: 40.8075, lng: -73.9626};

    map = new google.maps.Map(document.getElementById('map'), {
      zoom: 3,
      center: center
    });

    // Attach GET request to dropdown
    document.getElementById("dropdown").onchange = function(){
      searchTerm = this.value;
      makeRequest(searchTerm);
    }

    setInterval(function(){makeRequest(searchTerm)},10000);
  }

  function resetMap(map) {
    for (var i = 0; i < markers.length; i++) {
      markers[i].setMap(map);
    }
  }

  // Get tweets
  function makeRequest(searchTerm) {
    var xhttp = new XMLHttpRequest();

    // Formulate GET request
    xhttp.open("GET", "/tweets/" + searchTerm, true);

    xhttp.onreadystatechange = function() {

      // If the GET request is successful
      if(this.readyState == 4 && this.status == 200){

        // Delete markers
        resetMap(null);
        markers = [];

        // Get tweets from response object
        var tweets = JSON.parse(this.responseText);

        for(var i = 0; i < tweets.length; i++){
            addTweets(tweets[i]._source)
        }
      }
    };

    xhttp.send();
  }

  // Add tweets to the map
  function addTweets(tweets){
      var coords = tweets.coordinates.split(",");
      console.log(coords);
      var lat = parseFloat(coords[1].replace(")",""));
      var lng = parseFloat(coords[0].replace("(", ""));

      console.log(tweets);
      var text = tweets.text;
      var sent = tweets.sentiment;                          // ADDED
      var tweetCoord = {lat: lat, lng: lng};
      console.log(tweetCoord);

      if (sent == 'neutral') {
        var marker = new google.maps.Marker({
          position: tweetCoord,
          map: map,
          icon: image_negative,
          shape: shape
      });

    } else {
      var marker = new google.maps.Marker({
          position: tweetCoord,
          map: map
      });
    }



      markers.push(marker);
      resetMap(map);

      // Add click feature to markers
      google.maps.event.addListener(marker, "click", function(){
            if(infoWindow != null){
              infoWindow.close();
            }

            var newDiv = document.createElement("div");
            var newContent = document.createTextNode(text);
            newDiv.appendChild(newContent);

            var sentiment = document.createTextNode(sent);  // ADDED
            newDiv.appendChild(sentiment);                  // ADDED

            infoWindow = new google.maps.InfoWindow({
              content: newDiv
            });

            infoWindow.open(map, marker);
      });
  }
</script>

